<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <heliconZoo>
            <application name="dbamon">
                <environmentVariables>
                    <add name="IDE" value="C:\Windows\system32\cmd.exe" />
                </environmentVariables>
            </application>
        </heliconZoo>
        <handlers>
            <add name="dbamon#x64" path="D:\MonitoringApp\work\DBAmonitor" verb="*" modules="HeliconZoo_x64" scriptProcessor="ruby.1.9.rack" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
            <add name="dbamon#x86" path="D:\MonitoringApp\work\DBAmonitor" verb="*" modules="HeliconZoo_x86" scriptProcessor="ruby.1.9.rack" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
